
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Success Page</title>
    <!-- Inclure les liens vers Bootstrap CSS et JavaScript (vous pouvez également utiliser les fichiers locaux si vous les avez téléchargés) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Votre contenu HTML ici -->

    <!-- Utiliser une expression Thymeleaf pour conditionner l'affichage de l'alerte -->
    <div class="alert alert-success" role="alert" >
     You have successfully changed your password
    </div>
</body>
</html>
