<div class="height-100v d-flex align-items-center justify-content-center">
	<div class="card card-authentication1 mb-0">
		<div class="card-body">
		 <div class="card-content p-2">
		  <div class="card-title text-uppercase pb-2">Réintialisation du mot de passe</div>
		    <p class="pb-2">
				Veuillez entrer votre adresse e-mail. Vous recevrez un lien pour créer un nouveau mot de passe par e-mail.</p>
		    <form>
			  <div class="form-group">
			  <label for="exampleInputEmailAddress" style="color: black;">Adresse Email</label>
			   <div class="position-relative has-icon-right">
				  <input type="text" id="email"name="email"[(ngModel)]="email" class="form-control input-shadow"
				   placeholder="Adresse email">
				  <div class="form-control-position">
					  <i class="icon-envelope-open"></i>
				  </div>
			   </div>
			  </div>
			 
			  <button type="button" (click)="onSubmitRequest()"class="btn btn-light btn-block mt-3">Réinitialiser</button>
			 </form>
		   </div>
		  </div>
		   <div class="card-footer text-center py-3">
		    <p class="text-warning mb-0">Retourner à la page <a  [routerLink]="['/login']">Se connecter</a></p>
		  </div>
	     </div>
	     </div>