<app-sidebar ></app-sidebar>
<app-header ></app-header>


<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
      <div class="row mt-3">
          <div class="col-lg-12">
            <h5 class="card-title"> Liste des MotsCles : </h5>
              <div class="card">
                
        <div class="card-body">
        
          <div class="d-flex align-items-center justify-content-between">
            <form class="form-inline">
              <input type="search" (ngModelChange)="searchMotsCle(key.value)" #key="ngModel" ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search MotsCles..." required style="width: 800px;">
            </form>
            <div class="ml-auto">
             
              <button class="btn btn-light"ngbTooltip="exporter en pdf" (click)="generatePDF()" style="margin-left: 10px">
                <i class="fa fa-file-pdf-o mr-1" aria-hidden="true" style="font-size: 20px;color: red;"></i> PDF
              </button>
              <button class="btn btn-light" (click)="exportexcel()"ngbTooltip="exporter en excel" style="margin-left: 10px">
                <i class="fa fa-file-excel-o mr-1" aria-hidden="true" style="font-size: 20px;color: #6de789;"></i> Excel
              </button>
              <button class="btn btn-light" (click)="openAjout()"ngbTooltip="ajouter"style="margin-left: 10px">
                <div class="align-items-center"> <i class="fa fa-plus-circle mr-1" aria-hidden="true" style="font-size: 20px;"></i> 
                </div>
                </button>
            </div>
          </div>
          <br>
          <div class="table-responsive">
          
           <table  class="table table-striped" id="excel-table">
              <thead>
                <tr>
               
                  <th *ngFor="let column of columns" (click)="onSortColumn(column)">
                    {{ column }}
                    <i *ngIf="sortColumn === column" [class]="sortDirection === 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i>
                  </th>

                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of MotsCle | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                 
                  <td>{{ s.mot }}</td>
                  <td>   <div [innerHTML]="s.description"></div></td>
                
                  <td>
                    <button ngbTooltip="modifier"
                    (click)="openUpdate(s.mot_id)" class="btn btn-success">
                      <i class="zmdi zmdi-edit" style="font-size: 20px;"></i>
                    </button>
                    <button ngbTooltip="supprimer"
                    (click)="deleteMotsCle(s.mot_id)" class="btn btn-danger" style="margin-left: 10px">
                      <i class="zmdi zmdi-delete" style="font-size: 20px;"></i>
                    </button>
                    <button  ngbTooltip="details"
                    (click)="openDetails(s.mot_id)" class="btn btn-info" style="margin-left: 10px">
                      <i class="zmdi zmdi-eye" style="font-size: 20px;"></i>
                    </button>
                    

                  </td>
                </tr>
               
               
              </tbody>
            </table>
         
             
        </div>
      
        </div>
        <div class="text-center ">
          <pagination-controls (pageChange)="currentPage = $event"  ></pagination-controls>
        </div>
        


        
      </div>
    </div>
</div>
</div></div>
 <!-- details model -->
 <div *ngIf="isModalOpen" class="modal-overlay"></div>
 <ng-template #modalDetails let-modal>
  <div class="modal-content" style="background-color: #04588C;">
  <div class="modal-header">
    <h4 class="modal-title" >Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p >Mot : {{ MotsCleD.mot }}</p>
    <label><b>Description: </b></label>  <div [innerHTML]="MotsCleD.description"></div>

  </div>
 
</div>
</ng-template>



<!------- class="bg-image"update model-->
<ng-template #modalUpdate let-modal>
  <div class="modal-content" style="background-color: #04588C;">
    <div class="modal-header">
      <h4 class="modal-title ">Update</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="motsCleForm" (ngSubmit)="onSubmit()" class="my-form">
    
      <div class="form-group">
        <label for="mot">Mot:</label>
        <input placeholder="Entrez le mot"
        class="text-dark" type="text" formControlName="mot" class="form-control" />
        <div *ngIf="motsCleForm.controls['mot'].invalid && (motsCleForm.controls['mot'].dirty || motsCleForm.controls['mot'].touched)" class="text-danger">
          <div *ngIf="motsCleForm.controls['mot'].errors?.['required']">
            Mot est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Description :</label>
        <ckeditor formControlName="description"  [config]="{
          toolbar: [
              { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript' ] },
              { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', 'Blockquote' ] },
              { name: 'links', items: [ 'Link', 'Unlink' ] },
              { name: 'insert', items: [ 'Image', 'Table' ] },
              { name: 'tools', items: [ 'Maximize' ] },
              { name: 'document', items: [ 'Source' ] }
          ],
          image: {
              toolbar: [ 'ImageStyle:full', 'ImageStyle:side', '|', 'ImageTextAlternative' ]
          },
          table: {
              contentToolbar: [ 'tableColumn', 'tableRow', 'mergeTableCells' ]
          },
          language: 'fr',
          allowedContent: true,
          removePlugins: 'elementspath'
        }"></ckeditor>
      </div>
      <div class="modal-footer">
      <button type="submit" [disabled]="!motsCleForm.valid" class="btn btn-light" >Modifier </button>
    </div>
  </form>
</div>

</div>
</ng-template>
<!------- class="bg-image"ajout model-->
<ng-template #modalAjout let-modal>
  <div class="modal-content" style="background-color: #04588C;">
    <div class="modal-header">
      <h4 class="modal-title ">Ajout</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="motsCleForm" (ngSubmit)="onSubmitAdd()" class="my-form">
     
        <div class="form-group">
            <label for="mot">Mot:</label>
            <input placeholder="Entrez le mot"class="text-dark" type="text" formControlName="mot" class="form-control" />
            <div *ngIf="motsCleForm.controls['mot'].invalid && (motsCleForm.controls['mot'].dirty || motsCleForm.controls['mot'].touched)" class="text-danger">
              <div *ngIf="motsCleForm.controls['mot'].errors?.['required']">
                Mot est requis.
              </div>
            </div>
          </div>
      <div class="form-group">
        <label>Description :</label>
        <ckeditor formControlName="description"  [config]="{
          toolbar: [
              { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript' ] },
              { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', 'Blockquote' ] },
              { name: 'links', items: [ 'Link', 'Unlink' ] },
              { name: 'insert', items: [ 'Image', 'Table' ] },
              { name: 'tools', items: [ 'Maximize' ] },
              { name: 'document', items: [ 'Source' ] }
          ],
          image: {
              toolbar: [ 'ImageStyle:full', 'ImageStyle:side', '|', 'ImageTextAlternative' ]
          },
          table: {
              contentToolbar: [ 'tableColumn', 'tableRow', 'mergeTableCells' ]
          },
          language: 'fr',
          allowedContent: true,
          removePlugins: 'elementspath'
        }"></ckeditor>
      </div>
      <div class="modal-footer">
      <button type="submit" [disabled]="!motsCleForm.valid" class="btn btn-light" >Ajout </button>
    </div>
  </form>
</div>

</div>
</ng-template>
