<app-sidebar ></app-sidebar>
<app-header ></app-header>


<div class="clearfix"></div>
<div class="content-wrapper">
  <div class="container-fluid">
      <div class="row mt-3">
          <div class="col-lg-12">
            <h5 class="card-title"> Liste des Séquences de test  du projet :    {{ ProjetD?.nom }} : <span ngbTooltip="nombre de sequences de test"> ({{ sequenceCount }},</span><span ngbTooltip="nombre de senarios de test"> {{ totalSenarios }},</span><span ngbTooltip="nombre de cas de test"> {{ totalCases }})</span></h5>
              <div class="card">
                
        <div class="card-body">
        
          <div class="d-flex align-items-center justify-content-between">
            <form class="form-inline">
              <input type="search" (ngModelChange)="searchSequenceTest(key.value)" #key="ngModel" 
              ngModel name="key" id="searchName" class="form-control mr-sm-2" placeholder="chercher sequences..." required style="width: 800px;">
            </form>
            <div class="ml-auto">
              <button class="btn btn-light"ngbTooltip="exporter en pdf" (click)="generatePDF()" style="margin-left: 10px">
                <i class="fa fa-file-pdf-o mr-1" aria-hidden="true" style="font-size: 20px;color: red;"></i> PDF
              </button>
              <button class="btn btn-light" (click)="exportexcel()"ngbTooltip="exporter en excel" style="margin-left: 10px">
                <i class="fa fa-file-excel-o mr-1" aria-hidden="true" style="font-size: 20px;color: #50c26b;"></i> Excel
              </button>
              <button *ngIf="userAuthorities.includes('Testeur') || userAuthorities.includes('Chef de Projet')" class="btn btn-light" (click)="openAjout()"ngbTooltip="ajouter"style="margin-left: 10px">
                <div class="align-items-center"> <i class="fa fa-plus-circle mr-1" aria-hidden="true" style="font-size: 20px;"></i> 
                </div>
                </button>
            
            </div>
          </div>
          <br>
          <div class="table-responsive">
          
           <table  class="table table-striped" id="excel-table">
              <thead>
                <tr>
               
                  <th *ngFor="let column of columns" (click)="onSortColumn(column)">
                    {{ column }}
                    <i *ngIf="sortColumn === column" [class]="sortDirection === 'asc' ? 'fa fa-sort-asc' : 'fa fa-sort-desc'"></i>
                  </th>
                  <th (click)="onSortColumn('projetId')">Projet <i class="fa" [ngClass]="{'fa-sort-asc': sortColumn === 'projetId' && sortDirection === 'asc', 'fa-sort-desc': sortColumn === 'projetId' && sortDirection === 'desc'}"></i></th>

                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let s of SequenceTest | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
                 
                  <td>{{ s.titre }}</td>
                  <td>{{ s.type }}</td>
                  <td>{{ s.perimetre }}</td>
                  <td>{{ s.version }}</td>
                  <td>{{ s.date_creation| date: 'dd/MM/yyyy HH:mm' }}</td>
                  <td>{{ projets[s.projetId]?.nom }}</td>
                  <td>
                    <button  *ngIf="userAuthorities.includes('Testeur') || userAuthorities.includes('Chef de Projet')"ngbTooltip="modifier"(click)="openUpdate(s.sequence_id)" class="btn btn-success">
                      <i class="zmdi zmdi-edit" style="font-size: 20px;"></i>
                    </button>
                    <button *ngIf="userAuthorities.includes('Testeur') || userAuthorities.includes('Chef de Projet')"ngbTooltip="supprimer"(click)="deleteSequenceTest(s.sequence_id)" class="btn btn-danger" style="margin-left: 10px">
                      <i class="zmdi zmdi-delete" style="font-size: 20px;"></i>
                    </button>
                    <button ngbTooltip="details"(click)="openDetails(s.sequence_id)" class="btn btn-info" style="margin-left: 10px">
                      <i class="zmdi zmdi-eye" style="font-size: 20px;"></i>
                    </button>
                    <button ngbTooltip="traitement des senarios" (click)="creerSenario(s.sequence_id)" class="btn btn-light" style="margin-left: 10px">
                      <i class="zmdi zmdi-plus" style="font-size: 20px;"></i>
                   
                    
                    </button>

                  </td>
                </tr>
               
               
              </tbody>
            </table>
         
             
        </div>
      
        </div>
       
        


        
      </div>
      <div class="text-center ">
        <pagination-controls (pageChange)="currentPage = $event"  ></pagination-controls>
      </div>
    </div>
</div>
</div></div>
 <!-- details model -->
 <div *ngIf="isModalOpen" class="modal-overlay"></div>
 <ng-template #modalDetails let-modal>
  <div class="modal-content" style="background-color: #969696;">
  <div class="modal-header">
    <h4 class="modal-title" >Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p >Titre : {{ SequenceTestD.titre }}</p>
    <p >Type : {{ SequenceTestD.type }}</p>
    <p >Périmètre : {{ SequenceTestD.perimetre }}</p>
    <p >Version : {{ SequenceTestD.version }}</p>
    <p >Date de création : {{ SequenceTestD.date_creation }}</p>
    <p >Projet : {{ projet?.nom }}</p>
  </div>
 
</div>
</ng-template>



<!------- class="bg-image"update model-->
<ng-template #modalUpdate let-modal>
  <div class="modal-content" style="background-color: #969696;">
    <div class="modal-header">
      <h4 class="modal-title ">Modification</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="sequenceForm" (ngSubmit)="onSubmit()" class="my-form">
      <div class="form-group">
        <label for="projetId">Projet:</label>
        <select formControlName="projetId" class="form-control">
          <option value="" disabled>--Choisissez un projet--</option>
          <option class="text-dark" *ngFor="let projet of projets" [value]="projet?.projet_id">{{ projet?.nom }}</option>
        </select>
        <div *ngIf="sequenceForm.controls['projetId'].invalid && (sequenceForm.controls['projetId'].dirty || sequenceForm.controls['projetId'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['projetId'].errors?.['required']">
            Projet est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="titre">Titre:</label>
        <input class="text-dark" type="text" formControlName="titre" class="form-control" />
        <div *ngIf="sequenceForm.controls['titre'].invalid && (sequenceForm.controls['titre'].dirty || sequenceForm.controls['titre'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['titre'].errors?.['required']">
            Titre est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <input class="text-dark" type="text" formControlName="type" class="form-control" />
        <div *ngIf="sequenceForm.controls['type'].invalid && (sequenceForm.controls['type'].dirty || sequenceForm.controls['type'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['type'].errors?.['required']">
            Type est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="perimetre">Périmètre:</label>
        <input  class="text-dark"type="text" formControlName="perimetre" class="form-control" />
        <div *ngIf="sequenceForm.controls['perimetre'].invalid && (sequenceForm.controls['perimetre'].dirty || sequenceForm.controls['perimetre'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['perimetre'].errors?.['required']">
            Périmètre est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="version">Version:</label>
        <input class="text-dark" type="number" formControlName="version" class="form-control" />
        <div *ngIf="sequenceForm.controls['version'].invalid && (sequenceForm.controls['version'].dirty || sequenceForm.controls['version'].touched)" class="text-danger">
            <div *ngIf="sequenceForm.controls['version'].errors?.['required']">
            Version est requis.
          </div>
        </div>
      </div>
      <div class="modal-footer">
      
      <button type="submit" [disabled]="!sequenceForm.valid" class="btn btn-info" >Modifier </button>
    </div>
  </form>
</div>

</div>
</ng-template>
<!------- class="bg-image"ajout model-->
<ng-template #modalAjout let-modal>
  <div class="modal-content" style="background-color: #969696;">
    <div class="modal-header">
      <h4 class="modal-title ">Ajout</h4>
      <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    <form [formGroup]="sequenceForm" (ngSubmit)="onSubmitAdd()" class="my-form">
    <!---  <div class="form-group">
        <label for="projetId">Projet:</label>
        <select formControlName="projetId" class="form-control">
          <option value="" disabled>--Choisissez un projet--</option>
          <option class="text-dark" *ngFor="let projet of projets" [value]="projet?.projet_id">{{ projet?.nom }}</option>
        </select>
        <div *ngIf="sequenceForm.controls['projetId'].invalid && (sequenceForm.controls['projetId'].dirty || sequenceForm.controls['projetId'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['projetId'].errors?.['required']">
            Projet est requis.
          </div>
        </div>
      </div>
      ----->
      <div class="form-group">
        <label for="titre">Titre:</label>
        <input placeholder="Entrez le titre"class="text-dark" type="text" formControlName="titre" class="form-control" />
        <div *ngIf="sequenceForm.controls['titre'].invalid && (sequenceForm.controls['titre'].dirty || sequenceForm.controls['titre'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['titre'].errors?.['required']">
            Titre est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="type">Type:</label>
        <input placeholder="Entrez le type"class="text-dark" type="text" formControlName="type" class="form-control" />
        <div *ngIf="sequenceForm.controls['type'].invalid && (sequenceForm.controls['type'].dirty || sequenceForm.controls['type'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['type'].errors?.['required']">
            Type est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="perimetre">Périmètre:</label>
        <input  placeholder="Entrez le perimetre"class="text-dark"type="text" formControlName="perimetre" class="form-control" />
        <div *ngIf="sequenceForm.controls['perimetre'].invalid && (sequenceForm.controls['perimetre'].dirty || sequenceForm.controls['perimetre'].touched)" class="text-danger">
          <div *ngIf="sequenceForm.controls['perimetre'].errors?.['required']">
            Périmètre est requis.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="version">Version:</label>
        <input placeholder="Entrez la version"class="text-dark" type="number" formControlName="version" class="form-control" />
        <div *ngIf="sequenceForm.controls['version'].invalid && (sequenceForm.controls['version'].dirty || sequenceForm.controls['version'].touched)" class="text-danger">
            <div *ngIf="sequenceForm.controls['version'].errors?.['required']">
            Version est requis.
          </div>
        </div>
      </div>
      <div class="modal-footer">
      <button type="submit" [disabled]="!sequenceForm.valid" class="btn btn-info" >Ajout </button>
    </div>
  </form>
</div>

</div>
</ng-template>
